<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<script>
    function selectUser() {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
                document.getElementById("test").innerHTML = xmlHttp.responseText;
            }
        };
        xmlHttp.open("POST", "/user/showUser", true);
        xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlHttp.send("id=1");
    }
</script>
<body>
    <p id="test">Hello World!</p>
    <button type="button" onclick="selectUser()">showUser</button>
</body>
</html>